.wy-side-nav-search {
    background-color: #EC143C;
}

/* Content area color */
.wy-nav-content {
    line-height: normal;
}

.wy-nav-top {
    background-color: #EC143C;
}

html.writer-html4 .rst-content dl:not(.docutils) .property, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .property {
    display: block;
}

html.writer-html4 .rst-content dl:not(.docutils) > dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) > dt {
    display: table;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #EB143C62;
    color: #555;
    border-top: 3px solid #EC143C;
    padding: 6px;
    position:relative
}

html.writer-html4 .rst-content dl:not(.docutils) dl:not(.field-list) > dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dl:not(.field-list) > dt {
    margin-bottom: 6px;
    border: none;
    border-left: 3px solid #EC143C;
    background: #EB143C62;
    color:#555
}

h3 {
    display: None;
}